a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

#imageofshoe{
  height: 40%;
  padding-left: 40px;
}
#makeInline{
  display: inline;
}

#shoe{
  float: left;
  width: 33%;
}
#footer{
  width: 100%;
}
#clearFloat{
  clear: both;
  float: none;
  display: block;
  position: relative;
}
