
body{
    background-color: #f8f8f8;
    margin:-40px;
    padding:0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.page-header{
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    height:100px;
}
#pic{
    width: 40%;

}
#shoe{
    /*text-align:center;*/
    padding: 30px 30px 30px 30px;
}
#day{
    padding-left: 50px
}
#a{
    padding-left:20;
}
.row{
    text-align:center;

}

#a{
    text-align: center;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
