body{
  padding: 0px;
  margin: -22px;
  background-color: #f8f8f8;

}

.page-header{
  background-color: black;
  color: white;
  text-align: center;
  padding-top:20px;
  padding-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.image {
  display: inline-block;
  vertical-align: top;
  padding-left: 40px;
  padding-top: 40px;
}
.information{
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  padding: 40px;
  padding-left: 80px;
}
h1{
  color: white;
}
h4{
  height:20%;
}
